@inherits LayoutComponentBase

<NavMenuMaterial @ref="navbar"/>

<div class="mdc-drawer-app-content">
    <MBTopAppBar Title="MyFoodLog"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 @onclick="@SideBarToggle">
    </MBTopAppBar>
    
    <MBBladeSet>
        <PageContent>
            <main class="main-content" id="main-content">
                <div class="max-width-content">
                    <div class="mdc-top-app-bar--dense-fixed-adjust">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                @Body
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </PageContent>
    </MBBladeSet>
    
</div>

@code {
    private NavMenuMaterial navbar { get; set; } = new();
    
    private void SideBarToggle()
    {
        navbar.Toggle();
    }
}