<MBDrawer @ref="Drawer" IsDismissible="true">
    <nav class="mdc-list">
        <MBListItem Label="Log Consumption" @onclick="@(() => ListItemClickHandler(""))" />
        <MBListItem Label="Diary" @onclick="@(() => ListItemClickHandler("Diary"))" />
        <MBListItem Label="Macros" @onclick="@(() => ListItemClickHandler("Macros"))" />
        <MBListItem Label="Food Items" @onclick="@(() => ListItemClickHandler("FoodItemOverview"))" />
    </nav>
</MBDrawer>

@code {
    [Inject]
    private NavigationManager? NavigationService { get; set; }

    private MBDrawer Drawer { get; set; } = new();

    private void ListItemClickHandler(string navigationReference)
    {
        Drawer.NotifyNavigation();
        NavigationService?.NavigateTo(navigationReference);
    }

    public void Toggle()
    {
        Drawer.Toggle();
    }
}