@page "/AddFoodItemPage"
@using MyFoodLog.Web.Components
@using MyFoodLog.Web.API.Client.Interfaces

@code {

    private async Task<bool> FormHandler(IMyFoodLogApi foodLogApi, IMBToastService toastService, CreateFoodItemDto createDto, CancellationToken ctx)
    {
        try
        {
            await foodLogApi.FoodItem_CreateFoodItemAsync("1", createDto, ctx);

            toastService.ShowToast(MBToastLevel.Success, $"Successfully added {createDto.Name}.", timeout: 1500);
            StateHasChanged();

            return true;
        }
        catch (ApiException)
        {
        }

        return false;
    }

}

<div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-2-tablet"></div>
<div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
    <div class="mdc-layout-grid__inner">

        <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <h3 class="mdc-typography--headline6">Add FoodItem</h3>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">

            <AddFoodItemComponent FormHandler="FormHandler"/>

        </div>
        
    </div>
</div>
<div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-2-tablet"></div>