@page "/AddFoodItemPage"
@using MyFoodLog.Web.Components

<h3>AddFoodItem</h3>

<div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">

    <AddFoodItemComponent/>

</div>