@page "/AddFoodItem"
@using MyFoodLog.Web.Components
@using MyFoodLog.Web.API.Client.Interfaces
@using MyFoodLog.Web.State

@code {

    [CascadingParameter]
    public MainLayoutMaterial? Layout { get; set; }
    
    [Inject]
    private StateContainer? _stateContainer { get; set; }
    
    [Inject]
    private NavigationManager? NavigationService { get; set; }
    
    private async Task<bool> FormHandler(IMyFoodLogApi foodLogApi, IMBToastService toastService, CreateFoodItemDto createDto, CancellationToken ctx)
    {
        try
        {
            await foodLogApi.FoodItem_CreateFoodItemAsync("1", createDto, ctx);

            toastService.ShowToast(MBToastLevel.Success, $"Successfully added {createDto.Name}.", timeout: 1500);
            
            NavigationService?.NavigateTo(_stateContainer?.PreviousPage ?? string.Empty);

            return true;
        }
        catch (ApiException)
        {
        }

        return false;
    }

    protected override void OnInitialized()
    {
        if (Layout != null)
        {
            Layout.Title = "Add FoodItem";
        }
        
        base.OnInitialized();
    }

}

<div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-2-tablet"></div>
<div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">

            <FoodItemComponent FormHandler="FormHandler"/>

        </div>
        
    </div>
</div>
<div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-2-tablet"></div>