@page "/Macros"
@inherits MyFoodLog.Web.ViewModels.MacrosViewModel
<div class="mdc-layout-grid__cell--span-12">
    <h3>Macros</h3>
</div>

<Chart Config="PieChartConfig" @ref="MacrosPieChart"></Chart>